<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles2.css}" />
    <title>Matchify — Login</title>
  </head>
  <body>
    <header class="logo-container">
      <img src="/images/Matchify-logo.png" class="logo" alt="Matchify logo"/>
    </header>
    <h2>Login in Matchify</h2>
    <div th:if="${error}">
      Unable to login. Check your username and password.
    </div>
    <p>New here? Click
      <a th:href="@{/register}">here</a> to register.</p>

    <form method="POST" th:action="@{/login}" id="loginForm">
      <label for="username">Login: </label>
      <input type="text" name="username" id="username" />
      <br>
      <label for="password">Password: </label>
      <input type="password" name="password" id="password" />
      <br>
      <br>
      <button>Login</button>
    </form>
  </body>
</html>