<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Montserrat:wght@400;500;700&family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles2.css}" />
    <title>Registration</title>
  </head>
  <body>
    <header class="logo-container">
      <img src="/images/Matchify-logo.png" class="logo" alt="Matchify logo"/>
    </header>

    <h3>Change User Profile</h3>

    <form id="registrationForm" th:action="@{/profile}" method="post" th:object="${userAfter}" enctype="multipart/form-data">
      <div class="alert" th:if="${error}" style="color:red; ">
        <p th:text="${error}"></p>
      </div>
      <div class="alert" id="errorInfo" style="color:red; ">
        <p></p>
      </div>

      <div class="form-photo-container">

        <div>
          <input type="hidden" id="removePhoto" name="removePhoto" >
          <input type="hidden" th:field="*{id}" >
          <input type="hidden" th:field="*{registrationDate}" >
          <input type="hidden" th:field="*{photoBase64}" id="photoBase64" >
          <label for="userPhoto">Load photo (max 1MB):</label>
          <input type="file" id="userPhoto" name="userPhoto" accept="image/*">
          <br>
          <div class="photo">
            <img id="preview"
                 th:src="*{photoBase64} ? 'data:image/*;base64, ' + *{getPhotoBase64} : '/images/nophoto.png' "
                 height="100px" width="auto" alt="Preview" />
          </div>
          <button type="button" id="removePhotoBtn" >Remove photo</button>
        </div>

        <div>
          <label for="name">Name: </label>
          <input type="text" id="name" th:field="*{name}" required>
          <p/>
          <label for="birthYear">Birth year: </label>
          <input type="number" min="1900" max="2020" id="birthYear" th:field="*{birthYear}" required>
          <p/>
          <label for="location">Location: </label>
          <input type="text" id="location" th:field="*{location}" required>

        </div>

      </div>

      <h3>Choose the interests that are closest to you. No more than three in one category.</h3>

      <div class="category-container">
        <div class="category-group" th:each="category : ${categoryMap.keySet()}">
          <h4 th:text="${category.description}"></h4>
          <div th:each="interest : ${categoryMap.get(category)}">
            <label>
              <input type="checkbox" th:id="${interest.name}"
                       th:field="*{matchingInterests}" th:value="${interest.name}">
              <span th:text="${interest.description}">Interest</span>
            </label> <br>
          </div>
        </div>
      </div>

      <br>
      <button type="submit">Confirm</button>
    </form>

    <script>
      const MAX_FILE_SIZE = 1024*1024; // 1MB
      const userPhotoInput = document.getElementById('userPhoto');
      const preview = document.getElementById('preview');
      const errorP = document.querySelector('#errorInfo p');
      let originalSrc = preview.src;
      const noPhotoSrc = '/images/nophoto.png';
      const removeBtn = document.getElementById('removePhotoBtn');
      const removePhoto = document.getElementById('removePhoto');

      removeBtn.addEventListener('click', () => {
        removePhoto.value = 'true';
        userPhotoInput.value = '';
        preview.src = noPhotoSrc;
        originalSrc = noPhotoSrc;
      });

      userPhotoInput.addEventListener('change', () => {
        errorP.textContent = '';
        const file = userPhotoInput.files[0];

        if (file) {
          if (!file.type.startsWith("image/")) {
            errorP.textContent = 'File must be an image';
            userPhotoInput.value = '';
            preview.src = originalSrc;
            return;
          }

          if (file.size > MAX_FILE_SIZE) {
            errorP.textContent = 'Photo must be smaller than 1MB';
            userPhotoInput.value = '';
            preview.src = originalSrc;
            return;
          }
          removePhoto.value = 'false';
          preview.src = URL.createObjectURL(file);
          //preview.style.display = 'block';
          //errorDiv.style.display = 'none';

        }
      });

    </script>

  </body>
</html>