app:
  cards-on-page: ${CARDS_ON_PAGE:2}
  max-messages-in-chat: ${MAX_MESSAGES_IN_CHAT:20}

server:
  port: 8080

spring:
  application:
    name: gateway
  jpa:
    open-in-view: true
    show-sql: true
  profiles:
    default: h2
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 10MB
  cloud:
    discovery:
      client:
        simple:
          instances:
            users-service:
              - uri: http://${USERS_SERVICE_HOST:localhost}:${USERS_SERVICE_PORT:8081}
    loadbalancer:
      ribbon:
        enabled: false